Repository 42Blank/ft_transcendence, pull requests merged in 2023-03, with the labels that each got.

#230 Style: 프로필 페이지 디자인 WIP, 버그 HOTFIX
  frontend/public/images/bg.jpg
  frontend/public/images/bg.webp
  frontend/public/images/bg_gray.jpg
  frontend/public/images/title.png
  frontend/public/images/title.webp
  frontend/public/index.html
  frontend/src/common/LoginLayout/index.tsx
  frontend/src/pages/ProfilePage/ProfileHeader/ProfileHeaderBottom.tsx
  frontend/src/pages/ProfilePage/ProfileHeader/index.tsx
  frontend/src/pages/RegisterPage/index.tsx
Labels: bug, style

#241 Style: 프로필 페이지 디자인 및 리팩토링 완료
  frontend/public/index.html
  frontend/src/App.tsx
  frontend/src/common/Tooltip/Tooltip.styles.ts
  frontend/src/common/Tooltip/index.tsx
  frontend/src/common/index.ts
  frontend/src/hooks/useGetMatchHistoryByUserId.ts
  frontend/src/pages/ProfilePage/Achievement/Achievement.tsx
  frontend/src/pages/ProfilePage/Achievement/AchievementList.tsx
  frontend/src/pages/ProfilePage/Achievement/AchievementTooltip.tsx
  frontend/src/pages/ProfilePage/Achievement/index.ts
  frontend/src/pages/ProfilePage/Achievement/tmpAchievement.style.ts
  frontend/src/pages/ProfilePage/Achievement/tmpAchievementTooltip.style.ts
  frontend/src/pages/ProfilePage/AchievementList/AchievementElement.styles.ts
  frontend/src/pages/ProfilePage/AchievementList/AchievementElement.tsx
  frontend/src/pages/ProfilePage/AchievementList/AchievementList.styles.ts
  frontend/src/pages/ProfilePage/AchievementList/index.tsx
  frontend/src/pages/ProfilePage/MatchHistory/MatchHistory.style.ts
  frontend/src/pages/ProfilePage/MatchHistory/MatchHistory.tsx
  frontend/src/pages/ProfilePage/MatchHistory/MatchHistoryBox.tsx
  frontend/src/pages/ProfilePage/MatchHistory/MatchHistoryList.tsx
  frontend/src/pages/ProfilePage/MatchHistory/index.ts
  frontend/src/pages/ProfilePage/MatchHistoryList/MatchHistoryElement.styles.ts
  frontend/src/pages/ProfilePage/MatchHistoryList/MatchHistoryElement.tsx
  frontend/src/pages/ProfilePage/MatchHistoryList/MatchHistoryList.styles.ts
  frontend/src/pages/ProfilePage/MatchHistoryList/MatchHistoryUserBox.styles.ts
  frontend/src/pages/ProfilePage/MatchHistoryList/MatchHistoryUserBox.tsx
  frontend/src/pages/ProfilePage/MatchHistoryList/index.tsx
  frontend/src/pages/ProfilePage/ProfileHeader/FriendsSection.tsx
  frontend/src/pages/ProfilePage/ProfileHeader/ProfileHeader.styles.ts
  frontend/src/pages/ProfilePage/ProfileHeader/SampleAvatarElement.styles.ts
  frontend/src/pages/ProfilePage/ProfilePage.styles.ts
  frontend/src/pages/ProfilePage/index.tsx
  frontend/src/pages/ProfilePage/tmpAvatarStyle.ts
  frontend/src/styles/index.ts
  frontend/src/styles/makeBoxShadow.ts
Labels: refactor, style

#240 Fix/sidebar refetch
  frontend/src/pages/ProfilePage/ProfileHeader/EditProfileSection.tsx
Labels: enhancement

#254 Style: 채팅 오퍼레이션 스타일 약간 수정, 로그인 페이지 접근 버그 수정 등
  frontend/src/common/ErrorComponent/ErrorComponent.styles.ts
  frontend/src/common/LoginLayout/index.tsx
  frontend/src/common/Modal/Modal.styles.ts
  frontend/src/pages/ChatListPage/ChatListPage.styles.ts
  frontend/src/pages/ChatPage/ChatModal/ChatInfoModalHeader.styles.ts
  frontend/src/pages/ChatPage/ChatModal/ChatUserListElement.styles.ts
  frontend/src/pages/ChatPage/ChatModal/ChatUserOperationBox.tsx
  frontend/src/pages/ChatPage/ChatPage.styles.ts
  frontend/src/pages/ChatPage/index.tsx
  frontend/src/pages/ProfilePage/ProfileHeader/EditProfileSection.styles.ts
Labels: bug, style

#258 HOTFIX: User Operation 깨지는 버그 픽스
  frontend/src/pages/ChatPage/ChatModal/BanUserOperationBox.tsx
  frontend/src/pages/ChatPage/ChatModal/BannedUserListElement.tsx
  frontend/src/pages/ChatPage/ChatModal/ChatUserListElement.styles.ts
  frontend/src/pages/ChatPage/ChatModal/ChatUserListElement.tsx
  frontend/src/pages/ChatPage/ChatModal/ChatUserOperationBox.tsx
Labels: bug, style
